In [1]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [3]:
from fastai.imports import *
from fastai.transforms import *
from fastai.conv_learner import *
from fastai.model import *
from fastai.dataset import *
from fastai.sgdr import *
from fastai.plots import *

In [1]:
PATH = "/home/jgardi/breed/data"

In [5]:
sz=224

In [6]:
torch.cuda.is_available()

True

In [7]:
torch.backends.cudnn.enabled

True

In [8]:
arch=resnet34

In [22]:
data = ImageClassifierData.from_paths(PATH, tfms=tfms_from_model(arch, sz),
                                      test_name="test1")

In [23]:
data

In [24]:
learn = ConvLearner.pretrained(arch, data, precompute=True)

100%|██████████| 162/162 [00:54<00:00,  2.75it/s]

In [25]:
learn.fit(0.01, 2)

HBox(children=(IntProgress(value=0, description='Epoch', max=2), HTML(value='')))

epoch      trn_loss   val_loss   accuracy
    0      2.147083   1.053086   0.769615
    1      1.097199   0.687138   0.813593

[array([0.68714]), 0.8135932034727694]

In [27]:
log_preds, y = learn.predict_with_targs(is_test=True)

In [28]:
probs = np.exp(log_preds)

In [49]:
df = pd.DataFrame(probs)

In [32]:
probs.shape

(10357, 120)

In [43]:
len(data.classes)

120

In [45]:
probs

array([[0.00001, 0.00056, 0.00018, ..., 0.0062 , 0.00016, 0.00015],
       [0.00408, 0.00026, 0.00047, ..., 0.00042, 0.00022, 0.0002 ],
       [0.00017, 0.00038, 0.00067, ..., 0.00012, 0.00021, 0.00006],
       ...,
       [0.00013, 0.00002, 0.00026, ..., 0.00007, 0.49047, 0.00013],
       [0.00061, 0.00007, 0.00159, ..., 0.00133, 0.0003 , 0.00128],
       [0.00061, 0.     , 0.00001, ..., 0.00001, 0.00001, 0.00039]], dtype=float32)

In [50]:
df.insert(0, 'id', [o[6:-4] for o in data.test_ds.fnames])

In [51]:
df.head()

,id,0,1,2,3,4,5,6,7,8,...,110,111,112,113,114,115,116,117,118,119
0,f1705303b30da3a48db2a5f34376b947,0.000011,0.000563,0.000177,0.001880,0.010761,0.000167,0.000046,0.000248,0.000259,...,0.000087,0.000172,0.030022,0.001112,0.525458,0.000123,0.000064,0.006198,0.000164,0.000154
1,a9b79809bc1301f8d148e15bfecf6485,0.004081,0.000263,0.000467,0.000065,0.000221,0.000479,0.000497,0.000338,0.000327,...,0.000840,0.000385,0.000100,0.000844,0.000311,0.000074,0.079746,0.000423,0.000222,0.000198
2,cc94a3bb7191a247f59e1540d8430c93,0.000167,0.000380,0.000670,0.000155,0.000078,0.033476,0.000033,0.000154,0.000131,...,0.000251,0.000064,0.000183,0.000495,0.000125,0.001247,0.000047,0.000121,0.000213,0.000059
3,f7b489a38302afc010d8a386a1b7d085,0.000070,0.000281,0.000177,0.000125,0.000113,0.160609,0.000021,0.000076,0.000447,...,0.000100,0.000044,0.000120,0.000825,0.000191,0.000499,0.000042,0.000505,0.000040,0.000111
4,6e21c96226078576342ca66e25eb1aa9,0.020426,0.002321,0.000854,0.001325,0.001078,0.001693,0.000450,0.000144,0.000260,...,0.000177,0.000306,0.001072,0.000119,0.000675,0.000197,0.000757,0.004974,0.001171,0.000375

In [53]:
SUBM = '/home/jgardi/'
os.makedirs(SUBM, exist_ok=True)
df.to_csv(f'{SUBM}results.gz', compression='gzip', index=False)